html
    body
        table.table.table-striped
            tr
                th Name
                th Brand
                th Quantity
                th Price

            each item in items
                tr
                    td= item.name
                    td= item.brand
                    td= item.quantity
                    td= item.price